@model ServiceHogarApp.Models.TB_Usuarios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TB_Usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLAVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEXO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEXO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHANAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHANAC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditarUsuario", new { id = Model.IDUSUARIO }) |
    @Html.ActionLink("Regresar a la lista", "ListadoUsuarios")
</p>
